body{
  background-color:#4CC3D9;
  font-family:Helvetica; /*Changes font of entire website to Helvetica*/
  font-size:;
  margin:0px 10% 0 10%;/*remember top, right, bottom, left*/
  color:#0000b3; -1px 0 0/*refers to font color dark blue*/
  display:block;
}

  h1{
    color: #4CC3D9; /* Change color of H1 to teal*/
    text-align: center: /* Center the H1 */
    text-shadow: 1px 0 0 #0000b3, 0 -1px0 #0000B3, 01px 0 #0000b3, -1px 0 0; /*adding a shadow to my H1*/
      font-size: 40px
  }
